.howWork-section {
    padding: 5% 10%;
    background-color: antiquewhite;
    height: 150vh;
}

.work-heading {
    width: 400px;
    margin: auto;
}

.work-heading h1 {
    font-weight: 800;
    background: -webkit-linear-gradient(45deg, #09009f, #00ff95 80%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px;
}

.work-bottom {
    margin-top: 90px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.work-planing {
    width: 330px;
    text-align: center;
    padding: 10px;
    margin-bottom: 30px;
    transition: all .5s;
    cursor: pointer;
}

.work-planing:hover {
    background-color: white;
    border-radius: 5px;
}

.work-planing h3 {
    font-weight: 800;
    background: -webkit-linear-gradient(45deg, #09009f, #00ff95 80%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 24px;
}

.work-planing p {
    font-size: 18px;
    font-weight: 500;
    color: purple;
}

.w-icon {
    border: 3px solid #61dafb;
    border-radius: 50%;
    padding: 10px;
    font-size: 90px;
    color: blck;
    color: #61dafb;
}